<div class="dash-header">
  <h2>Things I Follow</h2>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">Competitions</div>
  <div class="column" style="background-color:#bbb;">Clubs</div>
  <div class="column" style="background-color:#ccc;">Players</div>
</div>
