<header>
  <div class="section header">
    <div class="header-text">
      <div class="title">
        <h1>FootballAIr</h1>
      </div>
      <div class="subtitle">
        <h2>Top tier, open-source football analytics software.</h2>
      </div>
    </div>
  </div>
</header>

<div class="section main-intro">
  <h3>Finding the Methods in the Madness</h3>
  <p>What makes a great 10? When is an attacking fullback most sucessful? FootballAIr leverages bleeding-edge computer vision and machine learning technologies to help answer these questions.</p>
</div>

<div class="section main-example">
  <h3>Dynamic Models and Analytics</h3>
  <p>Learn the habits of the opposing team's star players in easy-to-read images. Find how a rising star could be improved. The deepest analytics, in simplified, production-ready graphics.</p>
</div>

<div class="section main-technology">
  <h3>Desc</h3>
  <p>Further desc</p>
</div>

<div class="section main-team">
  <h3>Desc</h3>
  <p>Further desc</p>
</div>

<div class="section main-register">
  <h3>Desc</h3>
  <p>Further desc</p>
</div>

<footer></footer>
