<header>
  <div class="section header">
    <div class="header-text">
      <div class="title">
        <h1>FootballAI</h1>
      </div>
      <div class="subtitle">
        <h2>Top tier, open-source football AI software.</h2>
      </div>
    </div>
  </div>
</header>

<div class="section main-intro">
  
</div>

<div class="section main-example">

</div>

<div class="section main-technology">

</div>

<div class="section main-team">

</div>

<div class="section main-register">

</div>

<footer></footer>
